<%- include("partials/head") %>
<%- include("partials/header") %>
<%- include("partials/sidenav") %>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Invoices</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Invoices</li>
            </ol>
            <!----------------------------Add Button---------------------->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fas fa-plus"></i>
                    Record New Invoice
                  </button>
            </div>
           <!----------------------------Summary Card---------------------->    
            <div class="card bg-primary text-white mb-4 mt-3 align-items-center justify-content-between text-center">
                <div class="card-body">
                     <h3>Total Invoices</h3>
                    <h1>1</h1>
                </div>
            </div>
            <!----------------------------Modal---------------------->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <form action="/invoices" method="post">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Record Invoice</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="Tenant" class="form-label"><b>Select Tenant</b></label>
                        <select id="selectTenant" class="form-select" name="tenant">
                            <option selected>Select House Type</option>
                            <% tenants.forEach(tenant => { %>
                                <option value="<%= tenant.id %>"><%= tenant.first_name %> (Hse: <%= tenant.house_id %>)</option>
                            <% }); %> 
                        </select>
                        <div class="mt-2">
                            <label for="invoiceItem" class="form-label"><b>Invoice Item</b></label>
                            <select id="invoiceItem" class="form-select" name="item">
                                <option selected>Select Invoice Item</option>
                                <option value="rent">Rent</option>
                                <option value="electricity">Electricity</option>
                                <option value="water">Water</option>
                                <option value="garbage">Garbage</option>
                                <option value="other">Other</option>
                            </select>
                            <div class="mt-1">
                                <input type="number" class="form-control" placeholder="Amount" name="amount">
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="invoiceDate" class="form-label"><b>Invoice Date</b></label>
                            <input type="date" class="form-control" placeholder="Enter Invoice date" name="date">
                        </div>
                        <div class="mt-2">
                            <label for="invoiceId" class="form-label"><b>Invoice ID/ Reference No.</b></label>
                            <input type="text" class="form-control" placeholder="Enter Invoice ID No." name="id">
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Record Payment</button>
                    </div>
                  </div>
                </div>
                </form>
              </div>
            <!----------------------------table---------------------->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Invoices List
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Tenant</th>
                                <th>House NO.</th>
                                <th>Item</th>
                                <th>Invoice ID</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>Tenant</th>
                                <th>House NO.</th>
                                <th>Item</th>
                                <th>Invoice ID</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% invoices.forEach(i => { %>
                               <tr>
                                    <td><%= i.invoice_date %></td>                                   
                                    <td><%= i.first_name %> <%= i.last_name %></td>
                                    <td><%= i.house_number %></td>
                                    <td><%= i.invoice_item %></td>
                                    <td><%= i.invoices_id %></td>
                                    <td><%= i.amount %></td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="#" role="button">View</a>
                                        <a class="btn btn-primary btn-sm" href="#" role="button">Edit</a>
                                        <a class="btn btn-danger btn-sm" href="#" role="button">Delete</a>
                                    </td>
                                </tr> 
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
<%- include("partials/footer") %>